html{
 background-color: aqua;
}
h1{
    font-size: 300%;
    text-align:center;
    color: aliceblue;
    background-color: #000;
    padding: 50px;
}
h2{
    font-size: 200%
}

h3{
    font-size: 300%;
    background-color: crimson;
    text-align: left;
    padding: 40px;
    text-align: center;
}

h4{
    font-size: 200%;
    color: greenyellow;
    background-color: blue;
    padding: 20px;
    text-align: center;

}
a:link
{
color: black;
}

a:visited{
    color: green;
}

a:hover{
    color: violet;
}

li{
    font-size: 200%;
}


p{
    text-decoration: underline;
    font-size: 200%;

}

h5{
    font-size: 200%;
    background-color: darkorange;
    color: dimgray;
    padding: 20px;
}

p2{font-size: 200%;}
p,p2{
    color: black;
}
