/* General styles */

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
}

body {
  width: 80em;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3.2em;
  text-align: left;
}

pli {
  font-size: 6em;
}

/*+++ more specific section styles +++*/

/* header and footer */

header, footer {
  height: 10em;
  padding: 2em;
}

h1, footer p {
  margin: 0px;
}

h1 {
  text-align: center;
  padding-right: 0.5em;

/* main content */

}
 h1,footer{
 border: 100px ;
 padding: 30px;
 margin:50px;
 width: 750px;
 height: 150px;
 background: #008080;
}

main p, main li {
  line-height: 2;
}



img {
  text-align: left
  auto;
}
